body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-image: url(../Pic/Other/Background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    padding: 5px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header a:link {
    text-decoration: none;
    color: black;
}

main {
    border-radius: 10px;
    margin-left: 0%;
    margin-right: 0%;

}

.job-listing h2 {
    transition: color 0.3s ease;
}

.job-listing h2:hover {
    color: #007bff;
    cursor: pointer;
}

.job-listing h2 > a {
    font-size: 105%;
    text-decoration: underline;
    color: black;
}


.section {
    width: 100%;
    margin: 62px 0 0 0;
    background-image:url(../Pic/Other/Background1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.search-section {
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.search-section label {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.search-container {
    display: inline-flex;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    width: 50%;
}

.search-container input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-btn {
    background-color: #ffffff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    border-left: solid 1px rgb(211, 211, 211);
}

.search-btn:hover {
    background-color: #eaeef1;
}


.center {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
}

.search-section2 {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.search-section2 label {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.search-section2 input {
    width: 50%;
    padding: 12px;
    font-size: 15px;
    border: solid 0.1px rgb(211, 211, 211);
    border-radius: 20px;
    outline: none;
}

.search-section2 select {
    width: 60%;
    padding: 12px;
    font-size: 15px;
    border: solid 0.1px rgb(211, 211, 211);
    border-radius: 20px;
    outline: none;
}

input {
    padding: 8px;
    border: 2px solid #000;
    border-radius: 10px;
    transition: 0.3s;
}

select {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: 0.3s;
}

input:hover {
    border-color: black;
    background-color: #f8f8f8;
}


select:hover {
    background-color: #f8f8f8;
    border-color: black
}

.content-wrapper {
    display: flex;
    gap: 150px; 
    min-height: 100vh; 
}

.sidebar {
    position: sticky;
    top: 62px; 
    width: 250px;
    height: 100vh; 
    background: #ffffff;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    padding: 40px;
    
    display: flex; 
    flex-direction: column; 
}


.sidebar-content {
    flex-grow: 1;
    overflow-y: auto; 
    max-height: calc(100vh - 40px);
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.sidebar label {
    padding-top: 5px;
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.sidebar select {
    width: 100%;
    height: 11%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.sidebar select:hover{
    border: 1px solid #000000;
}

.sidebar input {
    width: 92%;
    height: 6%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.sidebar input:hover {
    border: 1px solid black;
}

.filter-btn {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 11px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.filter-btn:hover {
    background: #0056b3;
}

.button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}


.button:hover {
    background-color: #f0ecec;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.button:active {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 22%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.modal-content h2 {
    margin-bottom: 15px;
}
.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
}
.modal-content .button {
    width: 50%;
    margin-top: 3%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.modal-content .button:hover {
    background: #0056b3;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.table-job {
    width: 75%;
    border-spacing: 20px; 
}

.job-list {
    flex: 1; 
}

.job-listing {
    min-width: 45%;
    border: 2px solid white;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    align-items: center;
    gap: 15%;
    width: 50%; 
}

.job-listing img {
    width: 120px;
    height: 120px;
    object-fit: contain; 
    display: block;
}

.job-listing a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.job-listing a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.job-listing a:hover {
    color: #0056b3;
}

.job-listing a:hover::after {
    transform: scaleX(1);
}

footer {
    background-image: url(Pic/Other/Background2.png);
    background-size: cover;
    color: #201f1f;
    padding: 5px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.footer-container div {
    margin: 10px;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li {
    margin: 5px 0;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
}
.footer-social a {
    margin: 5px;
    color: #fff;
    font-size: 20px;
}
.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
}